  
script(src="/js/accessibility.js" type="text/javascript")

body(style="font-family: 'Assistant'")
  div.h-20
    div.navigation.left-0.w-full.sticky.z-3.top-0.fixed.z-30
      nav.justify-between.items-center.flex.bg-gradient-to-l.from-blue-200.py-4
        div.text-right(class="lg:flex") 
          a.navbar-brand.justify-center.items-center(href="https://waze.com/ul/hsvcky0c0s")
            p.px-4.text-blue-600.font-bold.border-blue-600.border-r-2.border-0(class="px-4 text-lg lg:text-2xl") צימר אל-רום
          a.navbar-brand.items-center(href="tel:+972522796275")
            p.text-blue-700.font-bold.border-blue-700.border-r-2.border-solid.border-0(class="px-4 text-sm lg:text-2xl") 0522-796-275  
        div.mx-4.flex
          a.navbar-brand.easy-in-out.duration-300(href="https://waze.com/ul/hsvcky0c0s")
            div.contact-icon.bg-blue-600
              img.h-6.w-6(src="/img/waze.svg")           
          a.navbar-brand.items-center.px-2(href="tel:+972522796275")
            div.contact-icon.bg-blue-600
              img.h-6.w-6(src="/img/phone.svg")                 
          a.navbar-brand.items-center(href="https://wa.me/972522796275") 
            div.contact-icon.bg-blue-600
              img.h-6.w-6(src="/img/whatsapp.svg")

